<ion-view>
    <ion-content scroll="false">
        <section class="login-container">
            <div class="header col text-center logo">
                <i class="icon ion-location dark" style="font-size: 70px;"></i>&nbsp;
                <strong style="font-family: 'Kaushan Script', cursive; font-size: 150px; color: red;">Way</strong>
            </div>
            <div class="list col" style="padding: 10px;">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password"/>
                </label>
            </div>
            <div class="col text-center">
                <button class="button button-positive button-block icon ion-log-in" ng-click="login()">&nbsp;<strong>Login</strong></button>
            </div>
            <div class="col text-center">
                <strong><a href="#/create-account">Or create an account</a></strong>
            </div>
        </section>
    </ion-content>
</ion-view>