<ion-tabs class="tabs-icon-top tabs-color-active-positive" >
    <ion-tab title="Current Position" icon="ion-android-locate" ui-sref="app.tabs.current-position" >
        <ion-nav-view name="tab-current-position"></ion-nav-view>
    </ion-tab>
    <ion-tab title="History" icon="ion-clipboard" ui-sref="app.tabs.history">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="Tracked Person" icon="ion-person" ui-sref="app.tabs.tracked-person">-->
        <!--<ion-nav-view name="tab-tracked-person"></ion-nav-view>-->
    <!--</ion-tab>-->
</ion-tabs>